In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../intermediate_data/pre_processed.csv")

In [5]:
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Commision (in value),Claim,Premium_Plan,Duration_Category,Duration_Time_Cat
0,6,Travel Agency,Online,11,-0.041179,8,0.00,0,0,2,0.003391
1,6,Travel Agency,Online,11,-1.133951,3,0.00,0,0,1,1.285845
2,5,Travel Agency,Online,11,-0.991021,2,11.88,0,0,2,1.964246
3,6,Travel Agency,Online,11,0.615433,9,0.00,0,0,1,0.378758
4,6,Travel Agency,Online,11,0.615433,3,0.00,0,0,1,0.378758

In [20]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [7]:
ohe = OneHotEncoder(drop="first")

In [17]:
cat_cols = df[["Agency Type","Distribution Channel"]]
df.loc[:,["Agency Type","Distribution Channel"]] = ohe.fit_transform(cat_cols).toarray()

In [21]:
scaler = StandardScaler()

In [24]:
df.loc[:,["Commision (in value)"]] = scaler.fit_transform(df[["Commision (in value)"]])

In [25]:
df.head(n=10)

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Commision (in value),Claim,Premium_Plan,Duration_Category,Duration_Time_Cat
0,6,1.0,1.0,11,-0.041179,8,-0.534772,0,0,2,0.003391
1,6,1.0,1.0,11,-1.133951,3,-0.534772,0,0,1,1.285845
2,5,1.0,1.0,11,-0.991021,2,-0.014978,0,0,2,1.964246
3,6,1.0,1.0,11,0.615433,9,-0.534772,0,0,1,0.378758
4,6,1.0,1.0,11,0.615433,3,-0.534772,0,0,1,0.378758
5,6,1.0,1.0,11,-1.133951,2,-0.534772,0,0,1,1.285845
6,6,1.0,1.0,11,-2.343719,14,-0.534772,0,0,3,16.479057
7,6,0.0,1.0,11,-0.855329,12,-0.197868,0,0,2,1.463177
8,6,1.0,1.0,11,0.297363,4,-0.534772,1,0,1,0.088425
9,1,0.0,1.0,8,-0.179742,1,-0.280244,1,1,1,0.032307

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X = df.drop("Claim",axis=1)
y = df["Claim"]

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

In [31]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [32]:
pred = rfc.predict(X_test)

In [39]:
from sklearn.metrics import classification_report, plot_confusion_matrix

In [35]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.92      0.95      0.94     14364
           1       0.72      0.59      0.65      2884

    accuracy                           0.89     17248
   macro avg       0.82      0.77      0.79     17248
weighted avg       0.89      0.89      0.89     17248